:root {
  --background: #647e68;
  --text-color: #182747;
  --color-secondary: #562b08;
  --color-primary: #d8d8d8;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  --border-primary: 2px solid #562b08;
}
